<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header th:replace="~{fragmentos/nav :: navbar}"></header>

    <section id="inicio" class="hero">
        <div class="hero-contenido">
            <h1>The Culinary <br> Manuscript</h1>
            <p class="hero-texto">Disfruta de la Mejor Comida en un Ambiente Acogedor.</p>

            <a th:href="@{/reserva}" class="reserva-link">Reserva Ahora</a>
            <a th:href="@{/menu}" class="menu-link">Ver el Menú</a>


        </div>
    </section>

    <section class="platillos">
        <div class="platillos-header">
            <h2 class="platillos-titulo">LA COLECCION</h2>
            <h3 class="platillos-subtitulo">Nuestros Platillos Destacados</h3>
        </div>
        <div class="platillos-contenedor">
            <div class="platillo-uno platillo-card">
                <div class="platillo-info">
                    <p class="platillo-precio">$78k</p>
                    <h3 class="platillo-nombre">Aged Wagyu Prime</h3>
                    <p class="platillo-descripcion">Corte premium madurado por 45 días, servido con puré de ajo negro
                        fermentado y mantequilla de tuétano ahumada.</p>
                </div>
            </div>
            <div class="platillo-dos platillo-card">
                <div class="platillo-info">
                    <p class="platillo-precio">$42k</p>
                    <h3 class="platillo-nombre">Truffle Tagliatelle</h3>
                    <p class="platillo-descripcion">Pasta artesanal hecha a mano, bañada en crema de queso Parmigiano
                        Reggiano de 36 meses y láminas de trufa negra fresca.</p>
                </div>
            </div>
            <div class="platillo-tres platillo-card">
                <div class="platillo-info">
                    <p class="platillo-precio">$55k</p>
                    <h3 class="platillo-nombre">Imperial Omakase</h3>
                    <p class="platillo-descripcion">Selección del chef de nigiris y rolls con pescados de grado sashimi,
                        decorado con láminas de oro comestible y bonito seco.</p>
                </div>
            </div>
            <div class="platillo-cuatro platillo-card">
                <div class="platillo-info">
                    <p class="platillo-precio">$22k</p>
                    <h3 class="platillo-nombre">Midnight Gold Ganache</h3>
                    <p class="platillo-descripcion">Domo de chocolate amargo 70% de origen único, con pétalos de
                        chocolate
                        blanco y negro, sales marinas y hoja de oro.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about-contenedor">
            <div class="about-image"></div>
            <div class="about-info">
                <h2>NUESTRA RECOMENDACIÓN</h2>
                <h3>¿Por Qué Elegir Nuestro Restaurante?</h3>
                <p>En nuestro restaurante, cada plato es preparado con pasión, ingredientes de alta calidad y una
                    atención
                    especial a cada detalle. Creemos que comer no es solo alimentarse, sino vivir una experiencia única
                    que
                    se disfruta y se recuerda.</p>
                <div class="about-benefits">
                    <div class="benefit">
                        <h4>Ingredientes Frescos</h4>
                        <p>Seleccionamos cuidadosamente ingredientes de alta calidad para garantizar frescura y sabor en
                            cada
                            plato.</p>
                    </div>
                    <div class="benefit">
                        <h4>Excelente Atención</h4>
                        <p>Nuestro equipo está comprometido con brindar un servicio amable, rápido y profesional.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacto">
        <div class="contacto-contenedor">
            <div class="info-contacto">
                <h2>Visitanos</h2>

                <h3>
                    <img class="icono" th:src="@{/iconos/map.svg}" alt="">
                    Ubicación
                </h3>
                <p>Calle Principal 123, Ciudad, País</p>

                <h3>
                    <img class="icono" th:src="@{/iconos/reloj.svg}" alt="">
                    Horario
                </h3>
                <p>Lunes a Viernes: 10:00 AM - 10:00 PM</p>
                <p>Sábados y Domingos: 12:00 PM - 11:00 PM</p>

                <h3>
                    <img class="icono" th:src="@{/iconos/mail.svg}" alt="">
                    Contacto
                </h3>
                <p>Teléfono: +1 234 567 890</p>
                <p>Email: info@restaurante.com</p>
            </div>
            <div class="ubicacion">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1466.46676897806!2d-75.50372990000001!3d10.4053763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef625961908729f%3A0xf1b3792d83eed6e4!2sEdificio%20Cedesarrollo%20Comfenalco!5e1!3m2!1ses-419!2sco!4v1778440167301!5m2!1ses-419!2sco"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

<footer th:replace="~{fragmentos/footer :: footer}"></footer>
</body>

</html>