<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registro - ReservasApp</title>

    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">

    <script th:src="@{/js/register.js}" defer></script>
</head>

<body>
    <!-- NAV -->
    <header th:replace="~{fragmentos/nav :: navbar}"></header>

    <!-- Cambié login-container por register-page para que aplique el centrado -->
    <main class="register-page">
        <div class="register-container">
            <form onsubmit="register(event)" class="register-form">

                <h1 class="register-title">Crear Cuenta</h1>
                <p class="register-subtitle">Completa tus datos para registrarte</p>

                <!-- nombres y apellidos en grid -->
                <div class="register-grid">
                    <div class="input-group">
                        <label class="login-label">Nombre</label>
                        <input type="text" id="nombre" class="login-input" required>
                    </div>

                    <div class="input-group">
                        <label class="login-label">Apellido</label>
                        <input type="text" id="apellido" class="login-input" required>
                    </div>
                </div>

                <div class="input-group">
                    <label class="login-label">Correo Electrónico</label>
                    <input type="email" id="correo" class="login-input" required>
                </div>

                <div class="input-group">
                    <label class="login-label">Contraseña</label>
                    <input type="password" id="contrasena" class="login-input" required>
                </div>

                <div class="input-group">
                    <label class="login-label">Dirección</label>
                    <input type="text" id="direccion" class="login-input" required>
                </div>

                <div class="input-group">
                    <label class="login-label">Teléfono</label>
                    <input type="tel" id="telefono" class="login-input" required>
                </div>

                <button type="submit" class="login-button">REGISTRARME</button>

                <p class="register-login">
                    ¿Ya tienes cuenta?
                    <a th:href="@{/login}" class="login-links">Inicia sesión</a>
                </p>
            </form>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="~{fragmentos/footer :: footer}"></footer>
</body>
</html>